name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Build frontend
        run: |
          cd frontend
          chmod +x node_modules/.bin/react-scripts
          npm install --no-fund --no-audit
          npx react-scripts build

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd /home/ubuntu || mkdir /home/ubuntu && cd /home/ubuntu
            if [ ! -d "Contact_Form_App_New" ]; then
              git clone https://github.com/RiwaB/Cloud_Project.git Contact_Form_App_New
            fi
            cd Contact_Form_App_New/frontend
            git reset --hard
            git clean -fd
            git pull origin main
            npm install --no-fund --no-audit
            chmod +x node_modules/.bin/react-scripts
            npx react-scripts build
            pm2 restart app-name || pm2 start npm --name "Contact_Form_App_New" -- run start --watch
